<div class="widget red">
    <div class="widget-title">
        <h4><i class="icon-key"></i> Change Password </h4>
    </div>
    <div class="widget-body">
        <form class="cmxform form-horizontal" id="changePasswordForm" action="" method="POST">
            <div class="control-group">
                <label class="control-label">Old Password</label>
                <div class="controls">
                    <input type="password" class="input-medium" id="oldPassword" name="oldPassword" placeholder="Old Password" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">New Password</label>
                <div class="controls">
                    <input type="password" class="input-medium" id="newPassword" name="newPassword" placeholder="New Password" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Confirm New Password</label>
                <div class="controls">
                    <input type="password" class="input-medium" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" />
                </div>
            </div>
            <div class="control-group">
                <input type="submit" name="submitButton" value="Change Password" class="btn btn-success" />
                <a href="/" class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
</div>